@import url('https://fonts.googleapis.com/css2?family=Inter&family=Jacques+Francois+Shadow&family=Lato&family=Quicksand:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Lato&family=Quicksand:wght@400;500&display=swap');
body{margin: 0 ;
    padding: 0;
    background-color:#f1f1f1 ;
    background:
}

*{
    padding: 0;
    margin: 0;
}

/* barre de navigation */

nav{
    background: black;
    display: flex;
    width: 100%;
    position: fixed; 
    justify-content: space-between;
    align-items: center;
    height: 80px;
    z-index: 1;
 }

 .onglets ul li{
  display: inline;
 }
 
 nav p{ margin-left: 20px;
     color: orange;
     font-size: 35px;
     font-family: 'Jacques Francois Shadow', cursive;
 }

 .gauche{
    display: flex;
 }
 
 .onglets ul li{
     display: inline;
     margin-left: 80px;
     color: rgba(255, 255, 255, 0.76);
     font-size: 28px;
     }
 
      a{
         text-decoration:none;
         color: white;
     }
     
     .onglets a:hover{
         color: rgba(255, 255, 255, 0.76);
     }
 
 nav .recherche button {
     display: flex;
     justify-content: center;
     align-items: center;
      background: orange;
      padding:10px;
      margin-left:00px ;
      width: 120px;
      border: none;
      border-radius: 5px;
      margin-right: 50px;
  
  }
  nav .inscription button {
    display: flex;
    justify-content: center;
    align-items: center;
     background: white;
     padding:10px;
     width: 120px;
     border: none;
     border-radius: 5px;
     margin-right: 50px;
 }
 .inscription a{
    color: black;
    text-decoration: none;
 }
 nav .inscription button:hover{
    scale: 1.05;
 }

 
  nav .recherche button:hover{
     scale: 1.05;
  }
 
  
 
 /* responsivité */
 
 @media screen and (max-width: 500px){

    

    
 }
     
 
 
 
 /* fin de la  barre de navigation */




/* fin de la  barre de navigation */
section{
    position: relative;
    top: 4rem;
    width: 90%;
    max-width:1400px ;
    margin: 0 auto;
   
}
.contenus{
    width: 100%;
    
}
.banniere{
    width: 100%;
    height: 150vh;
    border: 3px solid rgb(246, 255, 0);
    background-image: url(../../image/thor-karanlik-dunya-altyazili-fragman-5227911_7033_amp.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.img{display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
 
  }

.text{position: relative;
    top: -60rem;
    margin-left:8rem;
    
}
.text p{
    font-size: 30px;
    color: #fff;
    font-family: 'Inter', sans-serif;;
}

.annonces h1{
    color: aqua;
}
.annonces{
   position: relative;
  margin-top:-33rem;
  display: grid;
  grid-template-columns: 100%;
}
.nouveauté{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1400px;
    border: 1px solid green;
    flex-wrap: wrap;
    margin: 0 auto;
    gap: 10px;
    
}

 .nouveauté .nouv{
    width: 300px;
    height: 400px;
   
   flex-shrink: 0;
    margin: 10px;
    
}
 .nouv img{
    transition: transform 0,25 ;
}

.nouv img:hover{
    transform: scale(1,02);
}

.nouv img{
    width: 300px;
    height: 400px;
}

/* début du footer de la page */


footer{
    
    position: relative;
    top: 8rem;
    width: 100%;
    margin: 0 auto;
    background: rgb(46, 45, 45);
    border-top: 1px solid #d9d9d9;
    padding: 5px 15px;
   
    
}
.footer{
   
    display: flex;
    justify-content: center; 
    align-items: center;
    flex-wrap: wrap;
    max-width: 55rem;
    margin: 0 auto;
    margin-top: 20px;
}

.navigation{
    
    margin-right: 20rem;
}
.navigation p{
  text-align: center;
  font-size: 25px;
  font-family: 'Jacques Francois Shadow', cursive;
  color: #c07503;
  padding-bottom: 2rem;
  margin-top: 8px;
}
.nav-footer ul li{
 display: inline;
 margin-left: 2rem;
 border-right: 1px solid ;
}
.nav-footer ul li a{
text-decoration: none;
color: rgba(225, 225, 225, 0.63);
}
.adresses p{
   font-size: 18px;
   font-family:'Inter', sans-serif ;
   text-align: center;
   text-decoration:underline;
   color: rgba(225, 225, 225, 0.63);
}
span{
    margin-left:10px;
    margin-top: 8px;
    color: rgba(225, 225, 225, 0.63);
}
.sociaux{
    margin-top: 50px;   
}
.sociaux p{
    text-align: center;
    margin-top: 10px;
    color: rgba(225, 225, 225, 0.63);
    font-family:'Inter', sans-serif ;
}
.soc{
    display: inline;
    margin-left: 20px;
}

.adresse{
      margin-top: 10px;
      display: flex;   
}


