@import url('https://fonts.googleapis.com/css2?family=Inter&family=Jacques+Francois+Shadow&family=Lato&family=Quicksand:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Lato&family=Quicksand:wght@400;500&display=swap');
body{margin: 0 ;
    padding: 0;
    margin: 0 auto;
    background: black;
 
}

*{
    padding: 0;
    margin: 0;
   
}

/* barre de navigation */
nav{
    background: black;
   display: flex;
   width: 100%;
   position: fixed; 
   justify-content: space-between;
   align-items: center;
   height: 80px;
   z-index: 1;
   
}

.onglets ul li{
    display: inline;
}

nav p{ margin-left: 20px;
    color: orange;
    font-size: 30px;
    font-family: 'Jacques Francois Shadow', cursive;

   
}

.onglets ul li{
    display: inline;
    margin-left: 80px;
    color: rgba(255, 255, 255, 0.76);

    }


    a{
        text-decoration: none;
        color: white;
    }
    
    .onglets a:hover{
        color: rgba(255, 255, 255, 0.76);
    }

nav .recherche button {
    display: flex;
    justify-content: center;
    align-items: center;
     background: orange;
     padding:10px;
     margin-left: 50px;
     width: 120px;
     border: none;
     border-radius: 5px;
     margin-right: 50px;
 
 }
 .recherche{
    display: flex;
    align-items: flex-end;
    
 }
 .user img{
    margin-right: 0px;
 }

 nav .recherche button:hover{
    scale: 1.05;
 }
.burgur{
    display: none;
}

 ul li a{
    font-size: 18px;
 }
 

/* responsivité */

@media screen and (max-width:1139px){
    nav {
      
    }
    
    
   .recherche{
    display: flex;
    justify-content: center;
   }


    ul  { position: fixed;
        width: 100%;
        height: 100vh;
        background-color: aqua;
        top: 80px;
        left: -100%;
        transition: all .5s;
        text-align: center;

        
    }

    
    nav ul li{
      display: block;
      margin-top: 20px;
      margin: 50px 0;
      line-height: 30px;
    }

    a:hover,a.active{
        background: rgb(157, 156, 156);
        transition: .5s;

    }
    
    .burgur{display: block;

    }

}
/* fin responsive */
/* fin de la  barre de navigation */


/* début section films */

 

.bare-recherche{
    position: relative;
    border: none;
    display: flex;
    flex-wrap: wrap;
    
    
}
.bare-recherche input{
    width: 15rem;
    height: 1,3rem;
    padding: 3px 5px;
    border-radius: 5px;
    
}
.p{
    color: #fff;
    font-size: 25px;
    font-family: 'Inter', sans-serif;
    margin-left: 80px;
    
}

.animes{
    position: relative;
    display: grid;
    top: 10rem;
    grid-gap: 1rem;
    grid-template-columns: 100%;
    border: 1px solid red;
}
.animes h1{
    color: #fff;
    font-family: 'Inter', sans-serif;
    text-align: center;
    text-transform: uppercase;
    margin-top: -20px;
}

.galerie-animes{
    
}
.categories{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1700px;
    margin: 20px  auto;
   
}

.ligne{
    width: 350px;
    margin: 10px;
    /* height: 250px; */
    background-color: blue;
    overflow: hidden;
    flex-shrink: 0; 
}

.ligne img{
    width: 100%;
    height: 400px;
    transition: transform 0.25;  
}
.ligne img:hover{
transform: scale(1.24);
}

.description p{
    text-align: center;
    color: #d9d9d9;
    font-family: 'Inter', sans-serif;
}

/* fin section film */

/* debut footer */
  
footer{
    
    position: relative;
    top: 8rem;
    width: 100%;
    margin: 0 auto;
    background: rgb(46, 45, 45);
    border-top: 1px solid #d9d9d9;
    padding: 5px 15px;
   
    
}
.footer{
   
    display: flex;
    justify-content: center; 
    align-items: center;
    flex-wrap: wrap;
    max-width: 55rem;
    margin: 0 auto;
    margin-top: 20px;
}

.navigation{
    
    margin-right: 20rem;
}
.navigation p{
  text-align: center;
  font-size: 25px;
  font-family: 'Jacques Francois Shadow', cursive;
  color: #c07503;
  padding-bottom: 2rem;
  margin-top: 8px;
}
.nav-footer ul li{
 display: inline;
 margin-left: 2rem;
 border-right: 1px solid ;
}
.nav-footer ul li a{
text-decoration: none;
color: rgba(225, 225, 225, 0.63);
}
.adresses p{
   font-size: 18px;
   font-family:'Inter', sans-serif ;
   text-align: center;
   text-decoration:underline;
   color: rgba(225, 225, 225, 0.63);
}
span{
    margin-left:10px;
    margin-top: 8px;
    color: rgba(225, 225, 225, 0.63);
}
.sociaux{
    margin-top: 50px;   
}
.sociaux p{
    text-align: center;
    margin-top: 10px;
    color: rgba(225, 225, 225, 0.63);
    font-family:'Inter', sans-serif ;
}
.soc{
    display: inline;
    margin-left: 20px;
}

.adresse{
      margin-top: 10px;
      display: flex;   
}


