@import url('https://fonts.googleapis.com/css2?family=Inter&family=Jacques+Francois+Shadow&family=Lato&family=Quicksand:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Lato&family=Quicksand:wght@400;500&display=swap');
body{margin: 0 ;
    padding: 0;
    margin: 0 auto;
    background: black;
 
}

*{
    padding: 0;
    margin: 0;
   
}

/* barre de navigation */
nav{
    background: black;
   display: flex;
   width: 100%;
   position: fixed; 
   justify-content: space-between;
   align-items: center;
   height: 80px;
   z-index: 1;
   
}

input{
    width: 220px;
    padding: 8px;
    border-radius: 10px;
    outline: none;
    background: #353434;
    color: white;
    border: none;
 }

nav p{ 
    color: #c07503;
}

 nav .onglets ul li{
    display: inline-block;
    color: rgba(255, 255, 255, 0.76);
    margin:0 20px;
    line-height: 80px;
    
    }
    .onglets ul{
        margin-right: 60px;
    }

    ul li #a{
        font-size: 20px;
     }
     
    a{
        text-decoration: none;
        color: white;
    }
    
     #a:hover{
        color: rgba(255, 255, 255, 0.76);
    }

    button{
         display: flex;
         justify-content: center;
         align-items: center;
         background: orange;
         padding:10px;
         margin-left:10px ;
         width: 120px;
         border: none;
         border-radius: 5px;
    }
    button:hover{
        scale: 1.05;
     }

.logo img{
    display: none;
    cursor: pointer; 
   
}
#check{
    display:none ;
}

/* responsivité */

@media screen and (max-width:1107px){
   
    .logo img{
        display: block;
    }
 
   .onglets ul  { position: fixed;
        width: 100%;
       backdrop-filter:blur(3px) ;
        height: 60vh;
        top: 70px;
        text-align: right;
        left: 100%;
        transition: all .5s ; 

    }
    nav .onglets ul li{
        display: block;
        margin-right: 40px;
        margin-top: -20px; 
    }

     button{
       float: right;
     }
    #check:checked ~ ul{
        left: 0;
        margin-top: 10px;
       
    }
}
/* fin responsive */
/* fin de la  barre de navigation */


/* début section films */
.animes h1{
    color: #fff;
    font-family: 'Inter', sans-serif;
    text-align: center;
    text-decoration: underline;
    margin-top: -35px;
    font-size: 30px;
}

.p{
    color: #fff;
    font-size: 25px;
    font-family: 'Inter', sans-serif;
    margin-left: 80px;
    
}

.animes{
    position: relative;
    display: grid;
    top: 10rem;
    grid-gap: 1rem;
    grid-template-columns: 100%;
    border: 1px solid red;
}


.galerie-animes{
    
}
.categories{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1700px;
    margin: 20px  auto;
   
}

.ligne{
    width: 350px;
    margin: 10px;
    /* height: 250px; */
    background-color: blue;
    overflow: hidden;
    flex-shrink: 0; 
}

.ligne img{
    width: 100%;
    height: 400px;
    transition: transform 0.25;  
}
.ligne img:hover{
transform: scale(1.24);
}

.description p{
    text-align: center;
    color: #d9d9d9;
    font-family: 'Inter', sans-serif;
}

/* fin section film */

/* debut footer */
  
footer{
    position: relative;
    top: 8rem;
    width: 100%;
    margin: 0 auto;
    background: black;
    border-top: 1px solid #d9d9d9;
    padding: 5px 15px;
   
    
}
.footer{
   
    display: flex;
    justify-content: center; 
    align-items: center;
    flex-wrap: wrap;
    max-width: 55rem;
    margin: 0 auto;
    margin-top: 20px;
}

.navigation{
    margin-right: 20rem;
}
.navigation p{
  text-align: center;
  font-size: 25px;
  font-family: 'Jacques Francois Shadow', cursive;
  color: #c07503;
  padding-bottom: 1rem;
  
}
.nav-footer ul li{
 display: inline;
 margin-left: 2rem;
}
.nav-footer ul li a{
text-decoration: none;
color: rgba(225, 225, 225, 0.63);
font-size: 18px;
}
.adresses p{
   font-size: 18px;
   font-family:'Inter', sans-serif ;
   text-align: center;
   text-decoration:underline;
   color: rgba(225, 225, 225, 0.63);
}
span{
    margin-left:10px;
    margin-top: 8px;
    color: rgba(225, 225, 225, 0.63);
}
.sociaux{
    margin-top: 50px;   
}
.sociaux p{
    text-align: center;
    margin-bottom: 10px;
    text-decoration: underline;
    color: rgba(225, 225, 225, 0.63);
    font-family:'Inter', sans-serif ;
}
.soc{
    display: inline;
    margin-left: 20px;
}

.adresse{
      margin-top: 10px;
      display: flex;   
}

@media screen and (max-width:805px){
    .footer{display: flex;
        flex-wrap:nowrap;
        margin: 0 auto;
        margin-top: 20px;
        
    }
    .navigation{
        margin-right: 0;
    }

   .nav-footer ul li{
    display: block;
    border-right: none;
    margin-left: 0;
   }
   .adresses{
   margin-left: 80px;
   } 

   .sociaux{position: absolute;
   margin-top: 250px;
   margin-left: -20px;
   padding-bottom: 20px;
   }
}
    
