@import url('https://fonts.googleapis.com/css2?family=Inter&family=Jacques+Francois+Shadow&family=Lato&family=Quicksand:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Lato&family=Quicksand:wght@400;500&display=swap');
body{margin: 0 ;
    padding: 0;
    margin: 0 auto;
 
}

*{
    padding: 0;
    margin: 0;
   
}

.nav{
    width: 100%;
}

/* barre de navigation */
nav{
    background: black;
   display: flex;
   width: 100%;
   position: fixed; 
   justify-content: space-around;
   align-items: center;
   height: 80px;
   z-index: 1;

   
}
nav p{ 
    color: orange;
    font-size: 30px;
    font-family: 'Jacques Francois Shadow', cursive;
}





.onglets ul li{
    display: inline;
    color: rgba(255, 255, 255, 0.76);
   
    border: 1px solid red;
    margin-left: 20px;
    padding: 5px;

    }


    a{
        text-decoration: none;
        color: white;
    }
    
    .onglets a:hover{
        color: rgba(255, 255, 255, 0.76);
    }


 

.burgur{
    display: none;
}

 ul li a{
    font-size: 18px;
 }
 

/* responsivité */

@media screen and (max-width:829px){
    nav {
      
    }



    ul  { position: fixed;
        width: 100%;
        height: 100vh;
        background-color: aqua;
        top: 80px;
        left: -100%;
        transition: all .5s;
        text-align: center;

        
    }

    
    nav ul li{
      display: block;
      margin-top: 20px;
      margin: 50px 0;
      line-height: 30px;
    }

    a:hover,a.active{
        background: rgb(157, 156, 156);
        transition: .5s;

    }
    
    .burgur{display: block;

    }



   

}
/* fin responsive */
/* fin de la  barre de navigation */


/* début section films */

 


.p{
    color: #fff;
    font-size: 25px;
    font-family: 'Inter', sans-serif;
    margin-left: 80px;
    
}

.animes{
    position: relative;
    border: 1px solid red;
    display: grid;
    top: 8rem;
    grid-gap: 1rem;
    grid-template-columns: 100%;
}

.galerie-animes{
    background: black;
}
.categories{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1700px;
    margin: 20px  auto;
    border: 1px solid  green;
}

.ligne{
    width: 350px;
    margin: 10px;
    /* height: 250px; */
    background-color: blue;
    overflow: hidden;
    flex-shrink: 0; 
}

.ligne img{
    width: 100%;
    height: 400px;
    transition: transform 0.25;  
}
.ligne img:hover{
transform: scale(1.24);
}

.description p{
    text-align: center;
    color: #d9d9d9;
    font-family: 'Inter', sans-serif;
}

/* fin section film */

/* debut footer */
  
footer{
    
    position: relative;
    top: 8rem;
    width: 100%;
    margin: 0 auto;
   
    
}
.footer{
    border: 2px solid rgb(255, 0, 204);
    display: flex;
    justify-content: center; 
    flex-wrap: wrap;
    max-width: 80%;
}

.navigation{
    border:4px solid rgb(241, 255, 47); 
    margin-right: 20rem;
}
.navigation p{
  text-align: center;
  font-size: 25px;
  font-family: 'Jacques Francois Shadow', cursive;
  color: #c07503;
  padding-bottom: 2rem;
  margin-top: 8px;
}
.nav-footer ul li{
 display: inline;
 margin-left: 2rem;
 border-right: 1px solid ;
}
.nav-footer ul li a{
text-decoration: none;
color: rgba(225, 225, 225, 0.63);
}
.adresses{
   
}
.adrs{
    margin-top: 20px;
   
}

.adresse{
      width: 30px;
      height: 30px;
      border-radius: 80px;
      background: pink;
      margin-top: 10px;
      display: flex;
      justify-content: center;
}

