@import url('https://fonts.googleapis.com/css2?family=Inter&family=Jacques+Francois+Shadow&family=Lato&family=Quicksand:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Lato&family=Quicksand:wght@400;500&display=swap');
body{margin: 0 ;
    padding: 0;
    overflow-x: hidden;
}

*{box-sizing: border-box;
    padding: 0;
    margin: 0;
}


/* barre de navigation */
nav{
    background:black;
   display: flex;
   width: 100%;
   position: fixed; 
   justify-content: space-between;
   align-items: center;
   height: 80px;
   z-index: 1;  
}

 nav .onglets ul li{
    display: inline-block;
    color: rgba(255, 255, 255, 0.76);
    margin:0 20px;
    line-height: 80px;
    
    }
    .onglets ul{
        margin-right: 40px;
    }

    ul li #a{
        font-size: 25px;
     }
     
     nav p{ 
        margin-left: 20px;
    }
    
    a{
        text-decoration: none;
        color: white;
    }
    
     #a:hover{
        color: rgba(255, 255, 255, 0.76);
    }

    button{
         display: flex;
         justify-content: center;
         align-items: center;
         background: #c07503;
         padding:10px;
         margin-left:10px ;
         width: 120px;
         border: none;
         border-radius: 5px;
    }

    .deconect{color: rgba(255, 255, 255, 0.56);
        font-family:'Inter', sans-serif;
    }
    button:hover{
        scale: 1.05;
     }

.logo img{
    display: none;
    cursor: pointer;  
}

#check{
    display:none ;
}

/* début responsivité */

@media screen and (max-width:1107px){
   
    .logo img{
        display: block;
    }
 
   .onglets ul  { position: fixed;
        width: 100%;
       backdrop-filter:blur(3px) ;
        height: 60vh;
        top: 70px;
        text-align: right;
        left: 100%;
        transition: all .5s ; 

    }
    nav .onglets ul li{
        display: block;

        margin-right: 40px;
        margin-top: -20px; 
    }

     button{
       float: right;
     }
    #check:checked ~ ul{
        left: 0;
        margin-top: 10px;  
    }
}
/* fin responsive */

/* fin de la  barre de navigation */

/* début section films */

section{
    width: 100%;
    background-color: aquamarine;
    overflow-x: hidden;
    /* position: relative;
    top: 4rem; */ 
}

.banniere{
    width: 100%;
    height: auto;
    background-image: url(../../image/thor-le-monde-des-tenebres-affiche-1020416.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;  
}

.text{
    position: relative;
    top: 500px;
    text-align: center;   
}

.text p{
    font-size: 36px;
    color: #fff;
    font-family: 'Inter', sans-serif;
    
}

.annonces h1{
    position: relative;
    color: aqua;
   bottom: 200px;
   left: 60px;
   color: white;
   font-family: 'Inter', sans-serif;

}
.annonces{
  margin-top:900px;
}
.nouveauté{position: relative;
    bottom: 180px;
    text-align: center;

}

 .nouveauté .nouv{
    display: inline-block;
    margin-right: 20px;
    width: 400px;
    height: 500px;
      
}
 .nouv {
    transition: transform 0.25;
}

.nouv img:hover{
    transform: scale(1.24);
 }
.description{
    color:#d9d9d9;
    font-family: 'Inter', sans-serif;
    background: #c07503;
}



.nouv img{
    width: 400px;
    height: 500px;
}


/* responsivité */

@media ( max-width:1692px){

     .nouveauté .nouv{
        display: inline-block;
        margin-right: 20px;
        width: 360px;
        height: 500px;   
    }
     .nouv {
        transition: transform 0.25;
    }
    
    .nouv img:hover{
       transform: scale(1.02);
    }
    
    .nouv img{
        width: 360px;
        height: 500px;
    }
}

@media ( max-width:1533px){

    .nouveauté .nouv{
       display: inline-block;
       margin-right: 20px;
       width: 320px;
       height: 500px;   
   }
    .nouv {
       transition: transform 0.25;
   }
   
   .nouv img:hover{
      transform: scale(1.02);
   }
   
   .nouv img{
       width: 320px;
       height: 500px;
   }
}


@media ( max-width:1373px){

    .nouveauté .nouv{
       display: inline-block;
       margin-right: 20px;
       width: 280px;
       height: 400px;   
   }
    .nouv {
       transition: transform 0.25;
   }
   
   .nouv img:hover{
      transform: scale(1.02);
   }
   
   .nouv img{
       width: 280px;
       height: 400px;
   }
}

@media ( max-width:1213px){

    .nouveauté .nouv{
       display: inline-block;
       margin-right: 20px;
       width: 240px;
       height: 400px;   
   }
    .nouv {
       transition: transform 0.25;
   }
   
   .nouv img:hover{
      transform: scale(1.02);
   }
   
   .nouv img{
       width: 240px;
       height: 400px;
   }
}

@media ( max-width:1052px){

    .text p{
        font-size: 25px;
    }

    .nouveauté .nouv{
       display: inline-block;
       margin-right: 20px;
       width: 200px;
       height: 300px;   
   }
    .nouv {
       transition: transform 0.25;
   }
   
   .nouv img:hover{
      transform: scale(1.02);
   }
   
   .nouv img{
       width: 200px;
       height: 300px;
   }
}

@media ( max-width:892px){

    .text p{
        font-size: 18px;
    }
    .nouveauté .nouv{
       display: inline-block;
       margin-right: 15px;
       width: 160px;
       height: 200px;   
   }
    .nouv {
       transition: transform 0.25;
   }
   
   .nouv img:hover{
      transform: scale(1.02);
   }
   
   .nouv img{
       width: 160px;
       height: 200px;
   }
}

@media ( max-width:711px){


    .description{
        color: #fff;
        font-family: 'Inter', sans-serif;
        background: #c07503;
        font-size: 6px;
    }
    .text p{
        font-size: 16px;
    }
    .nouveauté .nouv{
       display: inline-block;
       margin-right: 15px;
       width: 120px;
       height: 200px;   
   }
    .nouv {
       transition: transform 0.25;
   }
   
   .nouv img:hover{
      transform: scale(1.02);
   }
   
   .nouv img{
       width: 120px;
       height: 200px;
   }
}


@media ( max-width:552px){

    .text p{
        margin-left: 0px;
        font-size: 10px;
    }

    .nouveauté .nouv{
       display: inline-block;
       margin-right: 15px;
       width: 80px;
       height: 100px;   
   }
    .nouv {
       transition: transform 0.25;
   }
   
   .nouv img:hover{
      transform: scale(1.02);
   }
   
   .nouv img{
       width: 80px;
       height: 100px;
   }
}

@media ( max-width:392px){
    section{
        width: 100%;
        background-color: aquamarine;
        overflow-x: hidden;
        }

        .banniere{
            width: 100%;
        }

    .text {
        position: relative;
    top: 400px;
    margin-left:2rem;
    }

    .nouveauté .nouv{
       display: inline-block;
       margin-right: 15px;
       width: 60px;
       height: 100px;   
   }
    .nouv {
       transition: transform 0.25;
   }
   
   .nouv img:hover{
      transform: scale(1.02);
   }
   
   .nouv img{
       width: 60px;
       height: 100px;
   }

  
}

    /* fin de la responsivité */



/* début du footer de la page */
footer{
    position: relative;
    /* top: 15rem; */
    width: 100%;
    margin: 0 auto;
    background: black;
    border-top: 1px solid #d9d9d9;
    padding:  5px 15px;   
}
.footer{
   
    display: flex;
    justify-content: center; 
    align-items: center;
    flex-wrap: wrap;
    max-width: 55rem;
    margin: 0 auto;
    margin-top: 20px;
}

.navigation{
    margin-right: 20rem;
}
.navigation p{
  text-align: center;
  font-size: 25px;
  font-family: 'Jacques Francois Shadow', cursive;
  color: #c07503;
  padding-bottom: 1rem;
  
}
.nav-footer ul li{
 display: inline;
 margin-left: 2rem;
}
.nav-footer ul li a{
    
 text-decoration: none;
 color: rgba(225, 225, 225, 0.63);
 font-size: 20px;
 font-family: 'Inter', sans-serif ;
}
.adresses p{
   font-size: 20px;
   font-family:'Inter', sans-serif ;
   text-align: center;
   text-decoration:underline;
   color: rgba(225, 225, 225, 0.63);
}
span{
    margin-left:15px;
    margin-top: 8px;
    color: rgba(225, 225, 225, 0.63);
}
.sociaux{
    margin-top: 50px;   
}
.sociaux p{font-size: 20px;
    text-align: center;
    margin-bottom: 10px;
    text-decoration: underline;
    color: rgba(225, 225, 225, 0.63);
    font-family:'Inter', sans-serif ;
}
.soc{text-align: center;
    display: inline;
    margin-left: 25px;
}

.adresse{
      margin-top: 10px;
      display: flex; 
      justify-content: center;  
}

@media screen and (max-width:960px){

    footer{
        padding: 100px;
    }
    .footer{display: flex;
        flex-wrap:nowrap;
        margin: 0 auto;
        margin-top: 30px;
       
        
    }
    .navigation{

        margin-right: 0;
    }

   .nav-footer ul li{
    display: block;
    border-right: none;
    margin-left: 0;
   }
   .adresses{
   margin-left: 80px;
   } 

   .sociaux{position: absolute;
   margin-top: 300px;
   margin-left: -20px;
   padding-bottom: 30px;
   }
}
    