body{margin: 0;
    padding: 0;
}
.image {
    width: 100%; 
    margin-top: 40px;
}

  .vid{
   border: 1px solid transparent;
    justify-content: center;
    align-items: center;
    max-width:80% ;
    margin: 0 auto;

  }
  .video{display: flex;
    justify-content: center;
    margin-top: 30px;
     
}
.video video{width: 800px;}
  
 img:hover{
    scale: 1.2;
    transition: 0.5s;
}
 p{
    font-size: 20px;
    margin-left: 100px;
}

.vid img{position: absolute;
    margin-left:110px;
    margin-top: 10px;
}