body{margin: 0;
    padding: 0;
}
.image {
    width: 100%; 
    border: 1px solid red;
    margin-top: 40px;
}

  .vid{
   border: 1px solid rgb(0, 255, 76);
    justify-content: center;
    align-items: center;
    max-width:80% ;
    margin: 0 auto;

  }
  .video{display: flex;
    justify-content: center;
    margin-top: 30px;
     
}
.video video{width: 700px;}
  
 img:hover{
    scale: 1.05;
    transition: 0.5s;
    background: rgb(156, 165, 23);
}
 p{
    font-size: 20px;
    margin-left: 80px;
}