@import url('https://fonts.googleapis.com/css2?family=Inter&family=Jacques+Francois+Shadow&family=Lato&family=Quicksand:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Lato&family=Quicksand:wght@400;500&display=swap');
body{margin: 0 ;
    padding: 0;
    margin: 0 auto;
    background: black;
    overflow-x: hidden;
 
}

*{box-sizing: border-box;
    padding: 0;
    margin: 0;
   
}

/* barre de navigation */
nav{background: black;
   display: flex;
   width: 100%;
   position: fixed; 
   justify-content: space-between;
   align-items: center;
   height: 80px;
   z-index: 1;
   
}

input{
    width: 220px;
    padding: 8px;
    border-radius: 10px;
    outline: none;
    background: #353434;
    color: white;
    border: none;
 }

/* nav p{ 
    color: #c07503;
    margin-left: 50px;
} */

 nav .onglets ul li{
    display: inline-block;
    color: rgba(255, 255, 255, 0.76);
    margin:0 20px;
    line-height: 80px;
    
    }
    .onglets ul{
        margin-right: 80px;
    }

    ul li #a{
        font-family: 'Inter', sans-serif;
        font-size: 25px;
     }
     
    a{
        text-decoration: none;
        color: white;
    }
    
     #a:hover{
        color: rgba(255, 255, 255, 0.76);
    }

    button{
         display: flex;
         justify-content: center;
         align-items: center;
         background: #c07503;
         padding:10px;
         margin-left:10px ;
         width: 120px;
         border: none;
         border-radius: 5px;
    }
    button:hover{
        scale: 1.05;
     }

     .deconect{color: rgba(255, 255, 255, 0.56);
        font-family:'Inter', sans-serif;
    }

.logo img{
    display: none;
    cursor: pointer; 
   
}
#check{
    display:none ;
}

/* responsivité */

@media screen and (max-width:1188px){
   
    .logo img{
        display: block;
    }
 
   .onglets ul  { position: fixed;
        width: 100%;
       backdrop-filter:blur(3px) ;
        height: 60vh;
        top: 70px;
        text-align: right;
        left: 100%;
        transition: all .5s ; 

    }
    nav .onglets ul li{
        display: block;
        margin-right: 40px;
        margin-top: -20px; 
    }

     button{
       float: right;
     }
    #check:checked ~ ul{
        left: 0;
        margin-top: 10px;
       
    }
}
/* fin responsive */
/* fin de la  barre de navigation */


/* début section films */
.films h1{
    color: #fff;
    font-family: 'Inter', sans-serif;
    text-align: center;
    text-decoration: underline;
    margin-top: -40px;
    font-size: 30px;
    
}


.p{
    color: #fff;
    font-size: 25px;
    font-family: 'Inter', sans-serif;
    margin-left: 150px;
    
}

.films{
    width: 100%;
    position: relative;
    display: grid;
    top: 10rem;
    grid-gap: 1rem;
    grid-template-columns: 100%;
    
}

.galerie-films{
    background: black;
}
.categories{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1800px;
    margin: 20px  auto;
}
.description p{ background-color: #c07503;
    text-align: center;
    color: #d9d9d9;
    font-family: 'Inter', sans-serif;
}

.ligne{margin: 15px;
    width: 400px;
    margin: 10px;
    /* height: 250px; */
    overflow: hidden;
    transition: transform 0.25;  
}
 
.ligne img:hover{
transform: scale(1.24);
}

.ligne img{border-radius: 15px;
    width: 100%;
    height: 400px;   
}
.description p{
    text-align: center;
    color: #d9d9d9;
    font-family: 'Inter', sans-serif;
}

@media ( max-width:442px){
    input{
        width: 100px;
        padding: 8px;
        border-radius: 10px;
        outline: none;
        background: #353434;
        color: white;
        border: none;
     }

     .p{
        color: #fff;
        font-size: 25px;
        font-family: 'Inter', sans-serif;
        margin-left: 50px;

        }
}

/* fin section film */

/* debut footer */
footer{
    position: relative;
    top: 15rem;
    width: 100%;
    margin: 0 auto;
    background: black;
    border-top: 1px solid #d9d9d9;
    padding: 5px 15px;
   
    
}
.footer{
   
    display: flex;
    justify-content: center; 
    align-items: center;
    flex-wrap: wrap;
    max-width: 55rem;
    margin: 0 auto;
    margin-top: 20px;
}

.navigation{
    margin-right: 20rem;
}
.navigation p{
  text-align: center;
  font-size: 25px;
  font-family: 'Jacques Francois Shadow', cursive;
  color: #c07503;
  padding-bottom: 1rem;
  
}
.nav-footer ul li{
 display: inline;
 margin-left: 2rem;
}
.nav-footer ul li a{
text-decoration: none;
color: rgba(225, 225, 225, 0.63);
font-size: 20px;
font-family:'Inter', sans-serif ;
}
.adresses p{
   font-size: 20px;
   font-family:'Inter', sans-serif ;
   text-align: center;
   text-decoration:underline;
   color: rgba(225, 225, 225, 0.63);
}
span{
    margin-left:10px;
    margin-top: 8px;
    color: rgba(225, 225, 225, 0.63);
}
.sociaux{
    margin-top: 50px;   
}
.sociaux p{
    font-size: 20px;
    text-align: center;
    margin-bottom: 10px;
    text-decoration: underline;
    color: rgba(225, 225, 225, 0.63);
    font-family:'Inter', sans-serif ;
}
.soc{align-items: center;
    display: inline;
    margin-left: 25px;
}

.adresse{
      margin-top: 10px;
      display: flex;
      justify-content: center;   
}

@media screen and (max-width:868px){
    .footer{display: flex;
        flex-wrap:nowrap;
        margin: 0 auto;
        margin-top: 20px;
        
    }
    .navigation{
        margin-right: 0;
    }

   .nav-footer ul li{
    display: block;
    border-right: none;
    margin-left: 0;
   }
   .adresses{
   margin-left: 80px;
   } 

   .sociaux{position: absolute;
   margin-top: 250px;
   margin-left: -20px;
   padding-bottom: 20px;
   }
}
    
