
body{
    padding: 0;
    margin: 0;
    background: black;
}

.connexion{
   border-radius: 20px;
    background: white;
    width: 390px;
    height: 250px;
    margin: 0 auto;
    margin-top: 200px;
    box-shadow: 2px 2px 2px 2px white;
}

.grand{
    display: flex;
    
}

.droit{
margin-top: 25px;
     
}
.titre{
  margin-left: 10px;  
}
.élements{
    margin-top: 25px;
   margin-left: 25px;
}

.user{
   text-align:center ; 
   font-size: 20px;
   margin-top: 10px;
   color: #c07503;
}
h1{color: #c07503;
    text-align: center;
}
label{
    font-size: 18px;
}

span{margin-left: 10px;
    font-size: 14px;
}