
body{
    padding: 0;
    margin: 0;
    background: black;
}

.connexion{
   border-radius: 20px;
    background: white;
    width: 400px;
    height: 260px;
    margin: 0 auto;
    margin-top: 200px;
    box-shadow: 2px 2px 2px 2px white;
}

.grand{
    display: flex;
    
}

.droit{

     
}
.titre{position: relative;
    top: -40px;
  margin-left: 10px;  
}
.élements{
   margin-left: 25px;
   margin-top: -10px;
}

h1{position: relative;
    top: -30px;
    color: #c07503;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 35px;
    text-decoration: underline;
}
label{
    font-size: 18px;
    font-family: 'Inter', sans-serif;

}

span{margin-left: 10px;
   
    font-size: 14px;
    font-family: 'Inter', sans-serif;
    opacity: 0.8;
   
}