body{margin: 0;
    padding: 0;
}
.image{
    max-width: 50%;
   margin: 0 auto; 
   margin-top: 60px;

}

.vidéos{
    display: flex;
    justify-content: center;
   
}
video{
  max-width: 100%;
}
.conexion img{
    transition: 0.5s;
}
.conexion img:hover{
   
        transform: scale(1.2);
        background: red;
    }